[package]
name = "tenere"
version = "0.1.0"
authors = ["pythops <contact@pythops.com>"]
license = "AGPLv3"
edition = "2021"

[dependencies]
crossterm = "0.26.1"
tui = { package = "ratatui", version = "0.20.1" }
unicode-width = "0.1.7"
reqwest = { version = "0.11", features = ["json"] }
tokio = { version = "1", features = ["full"] }
serde_json = "1.0"
